<h1>GRITINHO</h1>
<%= button_to "New Restaurant", "restaurant/new", method: :get %>

<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.description %></p>
<% end %>
